<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <!--<rule name="Hub" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
          <match url="http://127.0.0.1:8088/socket/signalr.js" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^http://localhost:8089/signalr$" />
          </conditions>
          <action type="Rewrite" url="https://127.0.0.1:8089/{R:1}" />
        </rule>-->
        <rule name="Socket" enabled="true" stopProcessing="true">
          <match url="^signalr/(.*)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^192.168.0.107:8088$" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:8089/{R:0}" />
        </rule>
        <!--<rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>-->
      </rules>
    </rewrite>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="Font" />
      <mimeMap fileExtension=".log" mimeType="text/plain" />
    </staticContent>
        <httpProtocol>
            <!--<customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://localhost:8088/" />
            </customHeaders>-->
        </httpProtocol>
  </system.webServer>
</configuration>