<ion-content resize>
    <div class="panel">
        <div class="bd">
            <div class="weui_panel weui_panel_access">
                <div class="weui_panel_bd" id="messages">
                    
                </div>
            </div>

            
        </div>
        
    </div>
</ion-content>
<div class="weui_cells weui_cells_form input_area" style="position:fixed;left:0;bottom:0;width:100%;">
    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" id="content" placeholder="请输入消息内容" rows="2"></textarea>
            <div class="weui_textarea_counter"><!--<span>0</span>/200--> <a href="javascript:;" id="send" ng-click="send()" class="weui_btn weui_btn_mini weui_btn_primary">发送</a></div>
        </div>
    </div>
</div>
