<style type="text/css">
    #mapContainer {
        min-width: 320px;
        min-height: 425px;
        max-height:767px;
    }
</style>
<!--<div class="navbar">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_navbar">
                <div class="weui_navbar_item weui_bar_item_on">
                    选项一
                </div>
                <div class="weui_navbar_item">
                    选项二
                </div>
                <div class="weui_navbar_item">
                    选项三
                </div>
            </div>
            <div class="weui_tab_bd">

            </div>
        </div>
    </div>
</div>-->
<iframe id="geoPage" width=0 height=0 frameborder=0 style="display:none;" scrolling="no"
        src="http://apis.map.qq.com/tools/geolocation?key=MQBBZ-BTCWD-5V34S-PSG6R-76CV2-COBOQ&referer=myapp"></iframe> 
<ion-content resize id="mapContainer" on-hold="goBack()">
    <!--<div id="mapContainer"></div>-->
</ion-content>