<div class="weui_tabbar" ng-if="config.showFooter">
    <a href="/#/list" class="weui_tabbar_item weui_bar_item_on">
        <div class="weui_tabbar_icon">
            <img src="libs/assets//images/icon_nav_button.png" alt="">
        </div>
        <p class="weui_tabbar_label">IM</p>
    </a>
    <a href="/#/map" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="libs/assets//images/icon_nav_msg.png" alt="">
        </div>
        <p class="weui_tabbar_label">地图</p>
    </a>
    <a href="/#/chat/0" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="libs/assets//images/icon_nav_cell.png" alt="">
        </div>
        <p class="weui_tabbar_label">群聊</p>
    </a>
    <a href="/#/chat/1000000000000000000" class="weui_tabbar_item">
        <div class="weui_tabbar_icon">
            <img src="libs/assets//images/icon_nav_article.png" alt="">
        </div>
        <p class="weui_tabbar_label">机器人</p>
    </a>
</div>

<!--<ion-footer-bar align-title="left" class="bar-assertive">
    <div class="buttons">
        <button class="button">左侧按钮</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons" ng-click="doSomething()">
        <button class="button">右侧按钮</button>
    </div>
</ion-footer-bar>-->